* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.titulo{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 15px;
    font-family: "Roboto Slab", serif, extrabold;
    color: #fff;
    position: absolute;
    text-align: center;
    left: 16%;
    top: 17%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    font-weight: 800;
}

#logo{
    left: 87%;
    position: absolute;
    top: 17%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: auto;
    cursor: pointer;
    border: none;
    outline: none;
}

.perdido{
    font-family:"Roboto Slab", serif, medium;
    position: absolute;
    bottom: 0; 
    left: 13%;
    right: 0;
    color: #fff;
    font-size: 1.3rem;
}

.logo2{
    position: absolute;
    bottom: 0; 
    left: 2%;
    right: 0;
    top: 80%;
    width: 6rem;
}

.cubo{
    position: absolute;
    left: 60%;
    bottom: 0;
    width: 27%;
    height: auto;
}

.frase{
    color: #fff;
    font-family:"Roboto Slab", serif, medium;
    font-size: 1.3rem;
    position: absolute;
    left: 62%;
    top: 13rem;
    bottom: 0;
    width: 27%;
    height: auto;   
}

.frase2{
    color: #fff;
    font-family:"Roboto Slab", serif, medium;
    font-size: 1.3rem;
    position: absolute;
    left: 64%;
    top: 30rem;
    bottom: 0;
    width: 27%;
    height: auto;   
}

.usado{
    font-family:"Roboto Slab", serif, medium;
    position: absolute;
    bottom: 0; 
    left: 13%;
    right: 0;
    top: 17rem;
    color: #fff;
    font-size: 1.3rem;
}

.seta{
    position: absolute;
    bottom: 0; 
    left: 2%;
    right: 0;
    top: 18rem;
    width: 6rem;
}